<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<%= csrf_meta_tag() %>
	<%= live_title_tag assigns[:page_title] || "Chat", suffix: "" %>
	<link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
	<script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</head>
<body>
<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="/">Chat</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse d-lg-flex" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-lg-grow-1">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>

					<li class="nav-item">
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
					</li>
				</ul>

				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<%= if @current_user do %>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
							 aria-expanded="false">
							<%= @current_user.email %>
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">

							<li><%= link "Settings", to: Routes.user_settings_path(@conn, :edit), class: "dropdown-item" %></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "dropdown-item" %></li>
						</ul>
					</li>
					<% else %>
					<li class="nav-item"><%= link "Register", to: Routes.user_registration_path(@conn, :new), class: "nav-link" %></li>
					<li class="nav-item"><%= link "Log in", to: Routes.user_session_path(@conn, :new), class: "nav-link"  %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>
</header>
<%= @inner_content %>
</body>
</html>
